* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
}

.font-weight-100 {
  font-weight: 100;
}

.font-size-14 {
  font-size: 14px;
}

.pad-left-15 {
  padding-left: 15px;
}

.pad-right-15 {
  padding-right: 15px;
}

.width-13 {
  width: 13.25%;
  border-bottom: 1px solid #ccc;
}

.date-border {
  padding: 20px;
  height: 50px;
}

.red-divider {
  color: red;
  margin: 0 8px;
}

.find-sessions {
  color: purple;
  text-align: left;
  border-bottom: 1px solid #ccc;
  font-weight: 500;
}

.session {
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.task-flex {
  float: right;
  padding-right: 20px;
  margin-top: -10px;
  color: purple;
  font-size: 16px;
}

body {
  display: flex;
  background-color: #DCDCDC;
}

header {
  flex-direction: column;
  align-items: stretch;
  width: 75px;
}
header nav {
  font-weight: 100;
  margin: 0;
  padding: 0;
  color: white;
  min-height: 100%;
  text-align: center;
  background: #ce485f;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #ce485f, #8e397f);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #ce485f, #8e397f);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
header nav li {
  padding-top: 10px;
}
header nav li a {
  color: white;
}
header nav li.menu-item:hover,
header nav li.menu-item:active {
  background-color: #9b375c;
}
header nav .top-menu {
  flex: 1;
}
header nav .top-menu .logo {
  width: 22px;
  height: 22px;
}
header nav .logo-title {
  padding-top: 15px;
}
header nav .main-menu {
  flex: 8;
}
header nav .btm-menu {
  flex: 1;
}
header nav ul {
  border-bottom: 1px solid white;
  padding: 20px 0;
}
header nav ul li {
  padding-bottom: 10px;
}

section {
  max-width: 1200px;
}
section .top-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1200px;
  height: 340px;
  margin: 30px 0 30px 30px;
}
section .top-container .badge-output {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
}
section .top-container .badge-output .align-right-icon {
  text-align: right;
  margin-left: auto;
  margin-top: 15px;
  padding-right: 25px;
}
section .top-container .badge-output .align-right-icon-btm {
  text-align: right;
  margin-left: auto;
  padding-right: 25px;
}
section .top-container aside {
  width: 30%;
  height: 340px;
  margin-right: 30px;
  background-color: white;
  box-shadow: 3px 3px 5px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 3px 5px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 5px -4px rgba(0, 0, 0, 0.75);
}
section .top-container aside h2 {
  margin-top: 10px;
  margin-bottom: 15px;
  padding-left: 15px;
  font-family: "Noto Sans JP", sans-serif;
}
section .top-container aside ul {
  padding-top: 20px;
  border-top: 1px solid #C8C8C8;
  padding-left: 15px;
}
section .top-container aside ul li {
  font-size: 14px;
  list-style-type: none;
  padding-bottom: 15px;
}
section .top-container aside ul li .check-in {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
}
section .top-container aside ul li .check-in .edit-badge {
  text-align: right;
  margin-left: auto;
}
section .top-container .day-planner {
  font-size: 14px;
  width: 64.75%;
  height: 340px;
  overflow: auto;
  background-color: white;
  box-shadow: 3px 3px 5px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 3px 5px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 5px -4px rgba(0, 0, 0, 0.75);
}
section .top-container .day-planner .scheduled-time {
  margin: 0;
  padding: 0;
}
section .top-container .day-planner h2 {
  margin-top: 10px;
  padding-bottom: 15px;
  padding-left: 15px;
  border-bottom: 1px solid #C8C8C8;
  font-family: "Noto Sans JP", sans-serif;
}
section .top-container .day-planner .date {
  color: gray;
  font-size: 14px;
}
section .top-container .day-planner table {
  width: 100%;
}
section .top-container .day-planner table tr {
  width: 100%;
}
section .btm-container {
  display: flex;
  flex-direction: row;
  background-color: white;
  overflow: auto;
  max-width: 1200px;
  height: 500px;
  margin: 30px;
  box-shadow: 3px 3px 5px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 3px 5px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 5px -4px rgba(0, 0, 0, 0.75);
}
section .btm-container table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}
section .btm-container table th {
  background: white;
  color: purple;
  font-weight: bold;
  text-align: left;
  border-bottom: 1px solid purple;
}
section .btm-container table td, section .btm-container table th {
  border-top: 1px solid #ccc;
  text-align: left;
  padding: 12px 0;
}
section .btm-container table input:checked {
  color: purple;
}
section .btm-container .col-1-purple {
  width: 3.5%;
  padding-left: 15px;
}
section .btm-container .col-1 {
  width: 8.5%;
  padding-left: 15px;
  border-bottom: 1px solid #ccc;
}
section .btm-container .col-end {
  border: none;
  padding-left: 15px;
}
section .btm-container .col-2 {
  width: 12.5%;
}
section .btm-container .col-3 {
  width: 12.5%;
}
section .btm-container .col-4 {
  width: 12.5%;
}
section .btm-container .col-5 {
  width: 12.5%;
}
section .btm-container .col-6 {
  width: 12.5%;
}
section .btm-container .col-7 {
  width: 12.5%;
}
section .btm-container .col-8 {
  width: 12.5%;
}

/*# sourceMappingURL=styles.css.map */
