* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  display: flex;
}

header {
  flex-direction: column;
  align-items: stretch;
  width: 75px;

  nav {
    font-weight: 100;
    margin: 0;
    padding: 0;
    color: white;
    // height: 100vh;
    min-height: 100%;
    text-align: center;
    background: #ce485f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ce485f, #8e397f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ce485f, #8e397f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

    .top-menu {
     flex: 1
    }

    .logo-title {
      padding-top: 15px;
    }

    .main-menu {
      flex: 8
    }

    .btm-menu {
      flex: 1
    }

    ul {
      border-bottom: 1px solid white;
      padding: 20px 0;

      li { padding-bottom: 15px;}

    }
  
  }
}

section {
  width: 100%;
  background-color: #DCDCDC;

.top-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 300px;
  margin: 30px;

  aside {
    width: 30%;
    height: 300px;
    background-color: white;
    box-shadow: 3px 3px 5px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 3px 5px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px -4px rgba(0,0,0,0.75);

    h2 {
      margin-top: 10px;
      margin-bottom: 15px;
      padding-left: 15px;
      font-family: 'Noto Sans JP', sans-serif;
    }

    ul {
      padding-top: 20px;
      border-top: 1px solid #C8C8C8;
      padding-left: 15px;

      li {
        font-size: 14px;
        list-style-type: none;
        padding-bottom: 15px;
      }
    }
  }

  .day-planner {
    width: 63.75%;
    height: 300px;
    margin: 0 30px;
    background-color: white;
    box-shadow: 3px 3px 5px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 3px 5px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px -4px rgba(0,0,0,0.75); 

    h2 {
      margin-top: 10px;
      margin-bottom: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
      border-bottom: 1px solid #C8C8C8;
      font-family: 'Noto Sans JP', sans-serif;
    }

  }
}

.btm-container {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 96%;
  height: 550px;
  margin: 30px;
  box-shadow: 3px 3px 5px -4px rgba(0,0,0,0.75);
  -webkit-box-shadow: 3px 3px 5px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 5px -4px rgba(0,0,0,0.75);



  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
  

    th {
      background: white;
      color: purple;
      font-weight: bold;
      text-align: left;
      border-bottom: 1px solid purple
    }

    // th:nth-child(1) {
    //   border-bottom: 1px solid purple
    // }


    td, th {
      border-top: 1px solid #ccc;
      text-align: left;
      padding: 9px 0;
    }
  }

  .col-1-purple { width: 3.5%; padding-left: 15px;}
  .col-1 { width: 3.5%; padding-left: 15px; border-bottom: 1px solid #ccc }
  .col-2 { width: 12.5%; }
  .col-3 { width: 6.5%; }
  .col-4 { width: 15.5%; }
  .col-5 { width: 6.5%; }
  .col-6 { width: 12.5%; }
  .col-7 { width: 6.5%; }
  .col-8 { width: 6.5%; }

  td { margin: 0; padding: 0; }
}

}

